body {
  color: white;
  background: rgb(58, 58, 58);
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

header {
  background: black;
  padding: 20px;
}

section {
  background: white;
  color: grey;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

div {
  color: red;
  margin: auto;
  width: 100px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

li {
  display: inline-block;
  margin-right: 20px;
}

footer {
  background: black;
  padding: 10px 20px;
}

h1 {
  display: block;
  /*
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  */
  font-weight: lighter;
  color: white;
}
