body {
  color: rgb(255, 255, 255);
  background: rgb(94, 119, 165);
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

header {
  background: rgb(216, 95, 50);
  /*border-bottom: 10px solid black;*/
  padding: 20px;
}

section {
  background: white;
  color: grey;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

div {
  color: red;
  margin: auto;
  width: 100px;
}

.navbar {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  margin-left: 50px;
}

.link {
  display: inline-block;
  margin-right: 20px;
}

footer {
  background: black;
  padding: 10px 20px;
}

h1 {
  display: block;
  text-align: center;
  /*
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  */
  font-weight: lighter;
  color: white;
}

.info {
  margin-left: 45px;
}
